<div class="row">
  <div class="col-xs-3">
    <form id="appForm">
      <h4>Categories</h4>
      <ul id="categories">
      </ul>
      <div id="search_controls" class="col-xs-12"></div>
      <div id="filter_group"></div>
    </form>
  </div>
  <div class="col-xs-9">
    <div id="products">
    </div>
  </div>
</div>
