<div class="row">
  <div class="col-xs-3">
    <form id="appForm">
      <h4>Categories</h4>
      <ul id="categories" class="list-unstyled"></ul>
      <div id="countSummary"></div>
      <div id="pagination"></div>
      <div id="searchControls"></div>
      <div id="filterGroups"></div>
    </form>
  </div>
  <div class="col-xs-9">
    <div id="products">
    </div>
  </div>
</div>
